<div class="login-logo">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <img src="{{ asset('build/images/logo.png') | imagine_filter('200xY')}}" alt="{{ main_brand_title }} logo">
    </a>
</div>
