###> app/bundle ###
!/public/uploads/.gitkeep
/public/uploads/disc/*
!/public/uploads/disc/.gitkeep
/public/uploads/documents/*
!/public/uploads/documents/.gitkeep
/public/uploads/images/*
!/public/uploads/images/.gitkeep
!.travis.yml
/src/.preload.php
.php_cs.cache
###< app/bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
!.gitkeep
!var/log/keepit.txt
!var/log/.gitkeep
!var/log/.gitignore
/var/log/test.log
/var/log/dev.log
/var/log/prod.log
/var/cache/*
/var/testing-database.db
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
