{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and object.document is not null %}
    <a data-controller="pdf-button" data-action="pdf-button#clicked" data-toggle="modal" data-target="#pdf-preview-modal" data-pdf-button-attachment-value="{{ vich_uploader_asset(object, 'documentFile') }}" data-pdf-button-path-value="{{ vich_uploader_asset(object, 'documentFile') }}" class="btn btn-sm btn-default" title="{{ 'admin.pdf_preview' | trans }}"><i class="fas fa-cloud-download-alt"></i></a>
{% endif %}
