{% extends "@SonataAdmin/CRUD/base_list_field.html.twig" %}

{% block field %}
    <span class="label {% if object.students | length > 0 %}label-success{% else %}label-danger{% endif %}">
        {{ object.students | length | i }}
    </span>
{% endblock %}
