@import "colors.scss";

.main-header .logo {
  padding: 0;
  width: 231px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
