// Brand colors
$magenta: #CD5599;
$cyan:    #40B4E5;
$wine:    #782C63;
$violet:  #62259D;
$lviolet: #8E64A7;
$grey:    #9FA1A1;
$lgrey:   #F0F1F2;
$brown:   #AA542F;
$lbrown:  #D5BC94;
$white:   #FFFFFF;
$black:   #222222;

$ek-c-white:      #FFFFFF;
$ek-c-black:      #000000;
$ek-c-green:      #DFF0D8;
$ek-c-yellow:     #FCBE00;
$ek-c-violet:     #D672AA;
$ek-c-magenta:    #E5007D;
$ek-c-blue:       #009CC2;
$ek-c-grey:       #6F6F6F;
$ek-c-light-grey: #E3E3E3;


.c-magenta  { color: $magenta }
.c-cyan     { color: $cyan }
.c-wine     { color: $wine }
.c-violet   { color: $violet }
.c-lviolet  { color: $lviolet }
.c-grey     { color: $grey }
.c-brown    { color: $brown }
.c-lbrown   { color: $lbrown }
.c-white    { color: $white }
.c-black    { color: $black }

.bc-magenta { background-color: $magenta }
.bc-cyan    { background-color: $cyan }
.bc-wine    { background-color: $wine }
.bc-violet  { background-color: $violet }
.bc-lviolet { background-color: $lviolet }
.bc-grey    { background-color: $grey }
.bc-brown   { background-color: $brown }
.bc-lbrown  { background-color: $lbrown }
.bc-white   { background-color: $white }
.bc-black   { background-color: $black }
