// Imports
@import "colors.scss";

// Fonts
$icon-font-path: "../../fonts/bootstrap/";

@font-face {
    font-family: 'pluto';
    src:url('../fonts/PlutoSansRegular.eot');
    src:url('../fonts/PlutoSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlutoSansRegular.ttf') format('truetype'),
    url('../fonts/PlutoSansRegular.woff') format('woff'),
    url('../fonts/PlutoSansRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plutobold';
    src:url('../fonts/PlutoSansBold.eot');
    src:url('../fonts/PlutoSansBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlutoSansBold.ttf') format('truetype'),
    url('../fonts/PlutoSansBold.woff') format('woff'),
    url('../fonts/PlutoSansBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?owk010');
    src:url('../fonts/icomoon.eot?owk010#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?owk010') format('truetype'),
    url('../fonts/icomoon.woff?owk010') format('woff'),
    url('../fonts/icomoon.svg?owk010#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
$font-family-sans-serif: "pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e906";
}

.icon-arrow:before {
    content: "\e900";
}

.icon-book:before {
    content: "\e901";
}

.icon-check:before {
    content: "\e902";
}

.icon-hat:before {
    content: "\e903";
}

.icon-pencil:before {
    content: "\e904";
}

.icon-ruler:before {
    content: "\e905";
}

// Custom Bootstrap vars
$text-color: $grey;

// Custom vars
$ek-s-base:               20px;
$ek-s-base-plus:          60px;
$ek-s-base-minus:         10px;
$ek-font-size-base:       16px;
$ek-custom-navbar-height: 90px;
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

// Custom Navbar
$navbar-light-brand-color:       $grey;
$navbar-light-brand-hover-color: darken($navbar-light-brand-color, 25%);
$navbar-light-color:             $navbar-light-brand-color;
$navbar-light-hover-color:       $navbar-light-brand-hover-color;
$navbar-light-active-color:      $ek-c-violet;

// Link
$link-color: $magenta;
$link-hover-color: darken($link-color, 15%);

// Body
body.my-body {
    padding-top: $ek-custom-navbar-height;
    position: relative;
    font-size: 8px;
    @media (min-width: $screen-xs) {
        font-size: 9px;
    }
    @media (min-width: $screen-sm) {
        font-size: 9px;
    }
    @media (min-width: $screen-md) {
        font-size: 12px;
    }
    @media (min-width: $screen-lg) {
        font-size: 14px;
    }
}

.navbar {
    text-transform: uppercase;
}

.navbar-brand-logo {
    padding: 20px 15px;
    & svg {
        margin-top: -10px;
    }
}

.navbar-logo {
    margin-top: -25px;
}

// Strongs
strong {
    text-decoration: underline;
}


// Address
address { line-height: 1.65; }

// Clean ups
.no-overflow { overflow: hidden; }
.no-underline {
    text-decoration: none;
    &:hover { text-decoration: none; }
}
.d-block { display: block; }

// Buttons
.btn-violet {
    color: $white;
    background-color: $violet;
    border-color: $lviolet;
    &:hover {
        color: $white;
        background-color: $lviolet;
    }
}

// Captions
.my-carousel-caption {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.4);
}

// Customs
.fa-4x {
    font-size: 3em;
    @media (min-width: $screen-sm) {
        font-size: 3.5em;
    }
    @media (min-width: $screen-md) {
        font-size: 4em;
    }
}

h2.my-h2 {
    color: $grey;
    margin: 30px 0;
    font-size: 18px;
    &.c-white { color: $white; }
    @media (min-width: $screen-sm) {
        margin: 50px 0;
        font-size: 22px;
    }
    @media (min-width: $screen-md) {
        margin: 70px 0;
        font-size: 24px;
    }
}
.google-maps-container { height: 400px; }
.banner-service {
    line-height: 1.65;
    margin-bottom: 0;
    padding: 35px;
    @media (min-width: $screen-sm) {
        padding: 35px 35px 10px 35px;
    }
    @media (min-width: $screen-md) {
        padding: 60px 60px 20px 60px;
    }
    @media (min-width: $screen-lg) {
        padding: 70px;
    }
    &.sobre-mi { padding: 0 20px 70px 20px; }
}
//div.navbar ul.nav.nav-justified {
//    li {
//        i {
//            display: block;
//            margin-bottom: 10px;
//            &.icon-arrow { margin: 0 }
//        }
//        .current-mark {
//            visibility: hidden;
//            margin-top: 5px;
//            display: block;
//        }
//        a.c-magenta:hover, a.c-magenta:focus { color: $magenta }
//        a.c-cyan:hover,    a.c-cyan:focus    { color: $cyan }
//        a.c-wine:hover,    a.c-wine:focus    { color: $wine }
//        a.c-violet:hover,  a.c-violet:focus  { color: $violet }
//        a.c-lviolet:hover, a.c-lviolet:focus { color: $lviolet }
//        &.active {
//            background-color: $lgrey;
//            & > a {
//                margin-bottom: 0;
//            }
//        }
//        &:hover {
//            background-color: $lgrey;
//        }
//        &.active, & a:hover {
//            .current-mark {
//                visibility: visible;
//            }
//        }
//    }
//}
p.text-center.contacte { margin: 0 0 40px 0; }
.blog-categories {
    h3 { margin-top: 0; }
    ul.list-unstyled {
        margin-bottom: 0;
        li {
            padding: 10px;
            border-bottom: solid 1px $grey;
            a { color: $grey; }
            &.active {
                border-bottom: solid 1px $cyan;
                a { color: $cyan; }
            }
            &:hover a {
                color: $magenta;
                text-decoration: none;
            }
        }
    }
}


// Thumbnails
$thumbnail-padding: 0;
$thumbnail-bg: $lgrey;
$thumbnail-border: $lgrey;
$thumbnail-border-radius: 10px;
$thumbnail-caption-padding: 40px;

// Scroll to top helper
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 2000;
    background-color: $grey;
    color: $white;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 15px;
    bottom: 15px;
    padding-top: 2px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    &.show {
        visibility: visible;
        cursor: pointer;
        opacity: 0.85;
    }
    i.fa { line-height: inherit; }
}

// Pagination
ul.pagination {
    li.active {
        span.c-magenta {
            background-color: $magenta;
            border-color: $magenta;
        }
    }
}

// Footer
footer {
    color: $white;
    background-color: $black;
    padding: 40px 0;
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
    a.btn { text-decoration: none; }
}

textarea { resize: vertical; }

@import '~bootstrap/scss/bootstrap';
@import '~icheck-bootstrap/icheck-bootstrap.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
