{% extends "Front/blog/blog.html.twig" %}

{% block title %}{{ selectedCategory.title }} · {{ parent() }}{% endblock %}

{% block categories %}
    <div class="list-group list-group-flush">
        {% for category in categories %}
            {% if category.posts | length > 0 %}
                <a href="{{ path('app_blog_category_detail', {slug: category.slug}) }}" class="list-group-item list-group-item-action{% if category.id == selectedCategory.id %} active{% endif %}">{{ category.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
