imports:
    - { resource: 'services/admins.yaml' }

parameters:
    default_locale:             '%env(string:DEFAULT_LOCALE)%'
    project_web_title:          '%env(string:PROJECT_WEB_TITLE)%'
    project_url_base:           '%env(string:PROJECT_BASE_URL)%'
    project_backend_title:      '%env(string:PROJECT_BACKEND_TITLE)%'
    project_export_filename:    '%env(string:PROJECT_EXPORT_FILENAME_BASE)%'
    project_discount_extra_son: '%env(int:PROJECT_DISCOUT_PER_EXTRA_SON)%'
    google_tag_manager_enabled: '%env(bool:GOOGLE_TAG_MANAGER_IS_ENABLED)%'
    google_tag_manager_account: '%env(string:GOOGLE_TAG_MANAGER_ACCOUNT)%'
    google_analytics_enabled:   '%env(bool:GOOGLE_ANALYTICS_IS_ENABLED)%'
    google_analytics_account:   '%env(string:GOOGLE_ANALYTICS_ACCOUNT)%'
    google_maps_api_key:        '%env(string:GOOGLE_MAPS_API_KEY)%'
    google_calendar_api_key:    '%env(string:GOOGLE_CALENDAR_API_KEY)%'
    mailchimp_api_key:          '%env(string:MAILCHIMP_API_KEY)%'
    mailchimp_list_id:          '%env(string:MAILCHIMP_LIST_ID)%'
    facebook_pixel_enabled:     '%env(bool:FACEBOOK_PIXEL_ENABLED)%'
    facebook_pixel_id:          '%env(string:FACEBOOK_PIXEL_ID)%'
    facebook_api_key:           '%env(string:FACEBOOK_API_KEY)%'
    facebook_api_secret:        '%env(string:FACEBOOK_API_SECRET)%'
    boss_name:                  '%env(string:BOSS_NAME)%'
    boss_dni:                   '%env(string:BOSS_DNI)%'
    boss_phone_number_1:        '%env(string:BOSS_PHONE_NUMBER_1)%'
    boss_phone_number_2:        '%env(string:BOSS_PHONE_NUMBER_2)%'
    boss_address:               '%env(string:BOSS_ADDRESS)%'
    boss_city:                  '%env(string:BOSS_CITY)%'
    iban_business:              '%env(string:IBAN_BUSINESS)%'
    bic_number:                 '%env(string:BIC_NUMBER)%'
    mailer_destination:         '%env(string:MAILER_DESTINATION)%'
    delivery_dev_address:       '%env(string:DEV_DELIVERY_ADDRESS)%'
    admin_logo:                 '%env(string:ADMIN_LOGO)%'
    admin_color:                '%env(string:ADMIN_COLOR)%'
    admin_is_stage:             '%env(bool:ADMIN_IS_STAGE)%'
    preregister_period_is_open: false

services:
    _defaults:
        autowire:      true
        autoconfigure: true
    # Commons
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
    Qipsius\TCPDFBundle\Controller\TCPDFController: '@qipsius.tcpdf'
    # Entities with ParametersBag
    App\Entity\Student:
        class: App\Entity\Student
        calls:
            - [ setParameterBag, [ '@parameter_bag' ] ]
    # Template Blocks
    app.block.event_calendar:
        class: App\Block\EventCalendarBlock
        public: true
        arguments:
            - '@twig'
        tags:
            - { name: sonata.block }
    app.block.charts:
        class: App\Block\ChartsBlock
        arguments:
            - '@twig'
            - '@app.charts_factory_service'
        tags:
            - { name: sonata.block }
    # Messaging
    app.courier:
        class: App\Service\CourierService
        public: true
        arguments:
            - '@mailer'
    app.notification:
        class: App\Service\NotificationService
        public: true
        arguments:
            - '@app.courier'
            - '@twig'
            - '@parameter_bag'
    # Factories
    app.event_transformer_factory:
        class: App\Service\EventTransformerFactoryService
        public: true
        arguments:
            - '@router'
    app.charts_factory_service:
        class: App\Service\ChartsFactoryService
        public: true
        arguments:
            - '@translator'
            - '@App\Repository\ReceiptRepository'
            - '@App\Repository\InvoiceRepository'
            - '@App\Repository\SpendingRepository'
    # Menus
    app.backend_top_nav_menu_builder:
        class: App\Menu\BackendTopNavMenuBuilder
        arguments:
            - '@knp_menu.factory'
            - '@security.helper'
            - '@App\Repository\ContactMessageRepository'
    app.backend_top_nav_menu:
        class: Knp\Menu\MenuItem
        factory: [ '@app.backend_top_nav_menu_builder', createTopNavMenu ]
        tags:
            - { name: knp_menu.menu, alias: backend_top_nav_menu }
    app.backend_invoice_menu_builder:
        class: App\Menu\BackendInvoiceMenuBuilder
        arguments:
            - '@knp_menu.factory'
    app.backend_invoice_menu:
        class: Knp\Menu\MenuItem
        factory: [ '@app.backend_invoice_menu_builder', createSideMenu ]
        arguments:
            - '@request_stack'
        tags:
            - { name: knp_menu.menu, alias: backend_invoice_menu }
    app.backend_files_manager_menu_builder:
        class: App\Menu\BackendFilesManagerMenuBuilder
        arguments:
            - '@knp_menu.factory'
    app.backend_files_manager_menu:
        class: Knp\Menu\MenuItem
        factory: [ '@app.backend_files_manager_menu_builder', createSideMenu ]
        arguments:
            - '@request_stack'
        tags:
            - { name: knp_menu.menu, alias: backend_files_manager_menu }
    app.frontend_menu_builder:
        class: App\Menu\FrontendMenuBuilder
        arguments:
            - '@knp_menu.factory'
            - '@security.helper'
            - '@request_stack'
            - '@parameter_bag'
    app.frontend_top_menu:
        class: Knp\Menu\MenuItem
        factory: [ '@app.frontend_menu_builder', createTopMenu ]
        arguments:
            - '@request_stack'
        tags:
            - { name: knp_menu.menu, alias: top }
    # Managers
    app.smart_assets_helper:
        class: App\Service\SmartAssetsHelperService
        public: true
        arguments:
            - '@kernel'
            - '@parameter_bag'
    app.mailchimp_manager:
        class: App\Manager\MailchimpManager
        public: true
        arguments:
            - '@app.notification'
            - '@parameter_bag'
    app.receipt_manager:
        class: App\Manager\ReceiptManager
        public: true
        arguments:
            - '@App\Repository\InvoiceRepository'
    app.event_manager:
        class: App\Manager\EventManager
        public: true
        arguments:
            - '@App\Repository\EventRepository'
            - '@App\Repository\TariffRepository'
    app.generate_receipt_form_manager:
        class: App\Manager\GenerateReceiptFormManager
        public: true
        arguments:
            - '@logger'
            - '@kernel'
            - '@doctrine.orm.entity_manager'
            - '@translator.default'
            - '@App\Repository\StudentRepository'
            - '@App\Repository\EventRepository'
            - '@App\Repository\ReceiptRepository'
            - '@app.event_manager'
    app.generate_invoice_form_manager:
        class: App\Manager\GenerateInvoiceFormManager
        public: true
        arguments:
            - '@logger'
            - '@kernel'
            - '@doctrine.orm.entity_manager'
            - '@translator.default'
            - '@App\Repository\StudentRepository'
            - '@App\Repository\EventRepository'
            - '@App\Repository\InvoiceRepository'
    # PDF Builders
    app.student_image_rights_pdf_builder:
        class: App\Pdf\StudentImageRightsBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    app.sepa_agreement_pdf_builder:
        class: App\Pdf\SepaAgreementBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    app.receipt_reminder_pdf_builder:
        class: App\Pdf\ReceiptReminderBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    app.receipt_pdf_builder:
        class: App\Pdf\ReceiptBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    app.invoice_pdf_builder:
        class: App\Pdf\InvoiceBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    app.class_group_pdf_builder:
        class: App\Pdf\ClassGroupBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    app.export_calendar_to_list_pdf_builder:
        class: App\Pdf\ExportCalendarToListBuilderPdf
        public: true
        arguments:
            - '@qipsius.tcpdf'
            - '@app.smart_assets_helper'
            - '@translator.default'
            - '@parameter_bag'
    # SEPA
    app.xml_sepa_builder:
        class: App\Service\XmlSepaBuilderService
        public: true
        arguments:
            - '@App\Service\SpanishSepaHelperService'
            - '@parameter_bag'
    # File
    app.file_service:
        class: App\Service\FileService
        public: true
        arguments:
            - '@Vich\UploaderBundle\Templating\Helper\UploaderHelper'
            - '@parameter_bag'
    # Forms
    app.form.type.generate_receipt:
        class: App\Form\Type\GenerateReceiptType
        public: true
        arguments:
            - '@router.default'
        tags:
            - { name: form.type }
    app.form.type.generate_invoice:
        class: App\Form\Type\GenerateInvoiceType
        public: true
        arguments:
            - '@router.default'
        tags:
            - { name: form.type }
    app.form.type.event:
        class: App\Form\Type\EventType
        public: true
        arguments:
            - '@App\Repository\TeacherRepository'
            - '@App\Repository\ClassGroupRepository'
            - '@App\Repository\StudentRepository'
            - '@app.event_manager'
        tags:
            - { name: form.type }
    app.form.type.event_batch_remove:
        class: App\Form\Type\EventBatchRemoveType
        public: true
        arguments:
            - '@app.event_manager'
        tags:
            - { name: form.type }
    # Listeners
    app.sitemap.subscriber:
        class: App\Listener\SitemapListener
        arguments:
            - '@router'
        tags:
            - { name: 'kernel.event_subscriber', priority: 100 }
    app.doctrine_user_event:
        class: App\Doctrine\Listener\UserListener
        arguments:
            - '@security.user_password_hasher'
        tags:
            - { name: 'doctrine.orm.entity_listener', event: prePersist, entity: 'App\Entity\User', priority: 2 }
            - { name: 'doctrine.orm.entity_listener', event: preUpdate, entity: 'App\Entity\User', priority: 2 }
