{% extends 'Front/base.html.twig' %}

{% block title %}Política de privacitat · {{ parent() }}{% endblock %}

{% block menu %}
    {% include "Front/includes/full_link_menu_navbar.html.twig" %}
{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row extra-d-top extra-d-bottom">
            <div class="col-md-12 text-justify">
                <h3>Gràcies</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block inside_on_ready_javascripts_node %}{% endblock %}
