{% extends "Admin/Security/login.html.twig" %}

{% block sonata_head_title %}Reset your password{% endblock %}

{% block main_form %}
    <h1>Reset your password</h1>
    {{ form_start(resetForm) }}
        <div class="form-group">
            {{ form_row(resetForm.plainPassword) }}
        </div>
        <div class="row">
            <div class="col-xs-10">
                <button class="btn btn-primary btn-block">Reset password</button>
            </div>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}

{% block footer_router %}{% endblock %}
